body, html {
  height: 100%;
}

#intro {
        background: cyan;
        text-align: center;

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
