body, html {
	height: 100%;
	margin: 0;
}

#intro {
        background-color:#3e4444;
        text-align: center;

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
