    <div class="w3-row">

        <div class="w3-col w3-container m1 l1 "></div>
        <div class="w3-col w3-container m10 l8">
            <div class="w3-container"><h1>Neue Artikel</h1></div>

            <article class="w3-container">
            <a class="w3-hover-text-teal" style="text-decoration: none;" href="#"><h3>Erster Blog Titel lange Titel sehr lang noch länger</h3></a>
            14.01.2022 | Tags: 
            </article>
            <hr>

                        <article class="w3-container">
            <a class="w3-hover-text-teal" style="text-decoration: none;" href="#"><h3>Erster Blog Titel lange Titel sehr lang noch länger</h3></a>
            14.01.2022 | Tags: 
            </article>
            <hr>

                        <article class="w3-container">
            <a class="w3-hover-text-teal" style="text-decoration: none;" href="#"><h3>Erster Blog Titel lange Titel sehr lang noch länger</h3></a>
            14.01.2022 | Tags: 
            </article>
            <hr>

        </div>
    </div>